<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="de.kreggel" scope-resolver="org.springframework.context.annotation.Jsr330ScopeMetadataResolver" />
    <context:property-placeholder location="classpath:config.properties" />
    <context:mbean-export registration="ignoreExisting" />

    <!-- update manager -->

    <bean name="updateManager" class="com.perceptivesoftware.epss.update.UpdateManager" init-method="performUpdate" />

    <!-- persistence -->

    <jpa:repositories base-package="de.kreggel.auth.core.persistence" factory-class="com.perceptivesoftware.epss.persistence.CustomPagingAndSortingRepositoryFactoryBean"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="updateManager">
        <property name="dataSource" ref="dataSource" />
        <!-- configure spring exception translation for JPA _and_ Hibernate specific exceptions -->
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
        </property>
    </bean>

    <!-- Hikari connection pool -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="epss" />
        <property name="jdbcUrl" value="${db.jdbc.url}" />
        <property name="driverClassName" value="${db.driver.class}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.password}" />
        <property name="registerMbeans" value="true" />
        <property name="maximumPoolSize" value="${db.max.pool.size}" />
        <property name="minimumIdle" value="${db.min.pool.size}" />
        <property name="idleTimeout" value="${db.max.idle.time}" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- TX -->
    <tx:annotation-driven />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
</beans>